<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="text-center" style="padding:60px;">
        <div class="text-center" style="padding:60px;">
            <h1>🔎 Página no encontrada</h1>
            <p>La opción que intenta acceder no existe o ya no está disponible.</p>
            <a href="@Url.Action("Placeholder","Shared")" class="btn btn-primary">Volver al inicio</a>
        </div>
    </div>
</body>
</html>
