
<div style="display: flex; justify-content: center; align-items: center; height: 70vh; text-align: center;">
    <div >
            <h1>🔎 Página no encontrada</h1>
            <p>La opción que intenta acceder no existe o ya no está disponible.</p>
            <a href="@Url.Action("Placeholder","Shared")" class="btn btn-primary">Volver al inicio</a>
    </div>
</div>
