@{
    ViewBag.Title = "Bienvenido a NEOCONT";
}

<div class="welcome-container">
    <div class="welcome-content">
        <h1 class="welcome-title">@ViewBag.Title</h1>

        <div class="panel panel-modern">
            <div class="panel-body">
                <p>
                    Seleccione una opción del menú superior para comenzar a trabajar.
                    <br />
                    Si necesita asistencia, diríjase al
                    <a href="@Url.Action("HelpCenter", "Shared", new { area = "" })" class="help-link">
                        <i class="glyphicon glyphicon-question-sign"></i> <strong>Centro de Ayuda</strong>
                    </a>.
                </p>
            </div>
        </div>
    </div>
</div>
